<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.1/css/foundation.min.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.1/css/app.min.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.1/css/min.min.css">

	<link rel = "stylesheet" href = "{{ url_for('static', filename='style.css')}}">
	
    <!--- This is the webpage title --->
    <title>{% block title %}Bazinga{% endblock %}</title>
  </head>
  <body>
	<div class="grid-x grid-padding-x">
	  <div class="cell small-0 medium-1 large-1"></div>
	  <div class="cell auto">
		<br>

		{% block content %}
		CONTENT
		{% endblock %}
		<br>
		<!-- flashed messages -->
		{% for i in get_flashed_messages() %}
		<div class="callout alert float-center">
		  <strong class="float-center" style="text-align:center;">{{ i }}</strong>
		</div>
		{% endfor %}

	  </div>
	  <div class="cell small-0 medium-1 large-1"></div>
	</div>

  </body>
</html>
