{% extends "base.html" %}
{% block title %}Vote for Super Senior Caucus{% endblock %}
{% block content %}

<div class="grid-container" style="background-color: #DEDEDE; border-radius: 10px;">
  <br>
  <h1 style="text-align:center"><strong>Super Senior Caucus Canidates</strong></h1>
  <br>
  <div class="grid-x grid-padding-x small-up-3 medium-up-3">
    {% for p in cand %}
    <div class="cell small-4 pokehref">
	  <a href="/vote/{{p['name']}}">
		<div class="card" style="border-radius: 6px; border: 3px solid #058757">
		  <img src="/static/{{p['name']}}.png" width="100%" style="background-color:#79E0BA">
		  <div class="card-divider" style="background-color:#18B87D;text-align:center;color:white;">
			<h4 style="text-align:center;" class="float-center">{{capitalize(p['name'])}}</h4>
		  </div>
		</div>
	  </a>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}
