{% extends "base.html" %}
{% block title %}SSC Results{% endblock %}
{% block content %}

<div class="grid-container" style="background-color:#DEDEDE;border-radius:10px;">
  <br>
  <h1 style="text-align:center;"><strong>Results</strong> (<a href="/">Revote</a>)</h1>
  <br>
  <div class="grid-x grid-padding-x small-up-3 medium-up-3">
    {% for r in stats %}
    <div class="cell small-4 res_res">
	  <div class="card" style="border-radius: 6px; border: 3px solid bdlack">
		<img src="/static/{{r[0]}}.png" width="100%">
		<div class="card-divider" style="background-color:white;text-align:center;color:black;">
		  <h4 style="text-align:center;">{{capitalize(r[0])}}</h4><hr>
		  <h4 style="color:#AA0000;">{{r[1]}} votes.<h4>
		</div>
	  </div>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}
